pkgbase = elasticsearch5
	pkgdesc = Distributed RESTful search engine built on top of Lucene
	pkgver = 5.6.10
	pkgrel = 1
	url = https://www.elastic.co/products/elasticsearch
	install = elasticsearch5.install
	arch = any
	license = APACHE
	depends = java-runtime-headless=8
	depends = systemd
	provides = elasticsearch=5.6.10
	backup = etc/elasticsearch5/elasticsearch.yml
	backup = etc/elasticsearch5/log4j2.properties
	backup = etc/elasticsearch5/jvm.options
	backup = etc/default/elasticsearch5
	source = https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.6.10.tar.gz
	source = elasticsearch5.service
	source = elasticsearch5@.service
	source = elasticsearch5-sysctl.conf
	source = elasticsearch5-user.conf
	source = elasticsearch5-tmpfile.conf
	source = elasticsearch5.default
	sha256sums = 4944c4102b0848d9e94daa50f3b57aa464250563d4ae53d639f19936e394dcd0
	sha256sums = 0f999f90f180109dcd9bc880519dee9da88ddd5819329c05682d10b4e6ac0394
	sha256sums = 5adcd11c1b23b21e3578dc598e5afc3b78bdbf7b860219b71497a9fabb82d594
	sha256sums = b3feb1e9c7e7ce6b33cea6c727728ed700332aae942ca475c3bcc1d56b9f113c
	sha256sums = 815f6a39db6f54bb40750c382ffbdc298d2c4c187ee8ea7e2f855923e2ff354b
	sha256sums = 19fb0e711354d014473dadb0cf37117ab7557887443177de0d091f5991a9376c
	sha256sums = bb74e5fb8bc28f2125e015395ab05bea117b72bfc6dadbca827694b362ee0bf8

pkgname = elasticsearch5

